@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

a {
  text-decoration: underline;
  color: inherit;
  font-size: 12px;
  line-height: 15px;
}

a:visited {
  color: inherit;
}

p {
  margin-bottom: 20px;
}

nav ul li {
  display: inline-block;
  margin-right: 16px;
  margin-top: 20px;
  margin-bottom: 72px;
}

h1 {
  font-size: 16px;
  line-height: 19px;
}

svg {
  position: relative;
  left: 12px;
}

.wrapper {
  padding: 112px 145px;
  max-width: 750px;
}

.bold {
  font-weight: bold;
}

.bold a {
  font-size: inherit;
  font-weight: normal;
}

#lenny {
  display: block;
  margin: 72px 0px;
}

footer ul {
  font-size: 12px;
  line-height: 15px;
}

footer ul li {
  margin: 12px 0px;
}

footer ul li:first-of-type {
  margin-bottom: 20px;
}